---
title: Daisy Lee
layout: 'base.njk'
---

  
    
  
<div class="wrapperarticle">

    <div class="main-article">
    <h2 class="article-title">{{ title }}</h2>
    <figure class="main-article__figure">
    <img src="{{ image }}" alt="{{ imageAlt }}" />
            <figcaption>{{imageAlt}}</figcaption>
          </figure>
          {{ content | safe }}
      </div>

<div class="featured-articles-2">
  <div class="section-title "><a href="/blog/">All posts</a>
  </div>
      <ul role="list" class="articles__list">
        {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}

        {%- endfor %}
        </ul>
  <div style="visibility: hidden" class="js">
  <div class="buttons">
  <button  Button id="prev"><i class="fa fa-arrow-left"></i></button>
  <button id="next"><i class="fa fa-arrow-right"></i></button>
  </div>

</div>

</div>
    



      
      
       
  
   