<li>
        <article class="snippet">
         <img
                src="{{ post.data.image}}"
                alt={{ post.data.imageAlt}}
                class="snippet__image"
              />
        <div class="snippet_title"><a href="{{ post.url }}">{{ post.data.title}}</a></div>
        <p class="snippet__meta">by 
        <span>{{ post.data.title}}</span> on 
        <span>{{ post.data.date.toDateString()}}</span>
        </p>

        <p class="snippet__body">
                {{ post.data.description}}
        </p>
         <button><a href="{{ post.url}}" class="btn btn--primary">Continue Reading</a></button>
         </article>
        </li>