<footer class="site-footer">
   <p>
          <div class="social">
           
            <a
              href="https://www.instagram.com/daisy_lee_the_pastiechef/"
              target="_blank"
            >
              <i class="fa fa-instagram fa-2x"></i>
            </a>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/daisy.lee.9237" target="_blank"
              ><i class="fa fa-facebook fa-2x"></i>
            </a>
          </div>
        </p>
</footer>