 <footer class="footer">
        
          <p>
          <div class="social">
           
            <a
              href="https://www.instagram.com/miz_lee_the_pastie_chef/"
              target="_blank"
            >
              <i class="fa fa-instagram fa-2x"></i>
            </a>
          </div>
          <div class="social mail">
            <i class="fa fa-envelope fa-2x "><p id="contact"> bartsch_li@hetnet.nl</p></i>
          </div>
          
          <div class="social">
            <a href="https://www.facebook.com/daisy.lee.9237" target="_blank"
              ><i class="fa fa-facebook fa-2x"></i>
            </a>
          </div>
        </p>
        
        
      </footer>