<header id="header">
      <button id="toggle" class="toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <a href="/index.html"><h1>DAISY LEE</h1></a>
      
      
    </header>
    <nav id="nav" class="nav-closed">
      <ul>
        <li><a href="/index.html#header">Home</a></li>
        
        <li>
          <a href="/index.html#costuming">Costuming</a>
        </li>
        <li><a href="/index.html#repairs">Repairs & Restorations</a></li>
        <li><a href="/index.html#lessons">Lessons & Workshops</a></li>
        <li><a href="/index.html#events">Events</a></li>
        <li><a href="/index.htm#upholstery">(re-)Upholstery</a></li>
        <li><a href="/index.html#musicians">Musicians</a></li>
        <li><a href="/index.html#commercial">Commercial Work</a></li>
        <li><a href="/index.html#about">About</a></li>
        <li><a href="/index.html#contact">Contact</a></li>
      </ul>
    </nav>