---
title: Daisy Lee's Blog
layout: 'base.njk'
---

   <div class="wrapperarticle">
      <div class="featured-articles-2">
        <h2 class="section-title">All posts</h2>
        <ul role="list" class="articles__list flow">

        {%- for post in collections.post  | reverse -%}
        {% include 'article-snippet.njk' %}

        {%- endfor  %}

        </ul>
          
      </div>

       <div style="visibility: hidden" class="js">
  <div class="buttons">
  <button  Button id="prev"><i class="fa fa-arrow-left"></i></button>
  <button id="next"><i class="fa fa-arrow-right"></i></button>
  </div>
  
</div>
