---
title: Daisy Lee
layout: 'base.njk'
---




 
    
     <div class="mainpic">
     <div class="headerimg">
        <img src="/assets/blog/pics/Daisy/dl6a.jpg" alt="" />
        <p>"I love a challenge!"</p>
      </div></div>
    
    <div class="wrapper">
     
    <div class="featured-articles">
      
      <p class="tagline">
       Welcome to my world!
          I make costumes, repair/restore textile and reupholster vintage
          furniture. Reach out if you have an interesting project, I love a
          challenge!✨
        </p>      
        <div class="section-title ">Latest posts</div  >
      <ul role="list" class="articles__list flow">
        {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}

        {%- endfor %}
        </ul>
  </div>
      <div id="costuming">

        <h2>Costuming</h2>
         <p class = "blurb">
With years of costuming experience (starting with San Francisco drag queens in the early '80s, then morning in to Circus Elleboog, an Amsterdam children's circus), I will create costumes tailored to an act. Comfort/freedom of movement and washability are all factors to take into consideration when designing. In one memorable situation, safety was of paramount importance for an act involving fire.
Alternately- depending on how often a costume will be worn & budget- I can alter existing garments (sourced from flea markets, vintage shops). There's a cape for every situation!
</p>
        <br><br>
    
    <div id="costumes" >
    <h3>Costumes</h3>
    
    <div class="sub-article">
   
    <h2 class="sub-article-title">The Son of Man</h2>
    <figure class="sub-article__figure">
    <img src="/assets/blog/pics/Costumes/apple1.jpg" alt="" />
       <img src="/assets/blog/pics/Costumes/apple3.jpg" alt="" />
    </figure>
    <p>I created a live version of Magritte's famous painting</p>    
    </div>

<div class="sub-article">
    <h2 class="sub-article-title">St Maud</h2>
    <figure class="sub-article__figure">
        <img src="/assets/blog/pics/Costumes/stmaud.jpg" alt="" />
   <img src="/assets/blog/pics/Costumes/HalloweenChloe1.jpg" alt=""/>
   
    </figure>
    <p>Halloween costume, based on the movie St Maud</p>    
    </div>

    <div class="sub-article">
    <h2 class="sub-article-title">Puppetmaster</h2>
    <figure class="sub-article__figure">
    <img src="/assets/blog/pics/Costumes/puppettestimonial.jpg" alt=""/>
   <img src="/assets/blog/pics/Costumes/puppet1.jpg" alt=""/>
       <img src="/assets/blog/pics/Costumes/puppet2.jpg" alt=""/>
       <img src="/assets/blog/pics/Costumes/puppet3.jpg" alt=""/>
       <img src="/assets/blog/pics/Costumes/puppet4.jpg" alt=""/>
       <img src="/assets/blog/pics/Costumes/puppet5.jpg" alt=""/>
    </figure>
    <p>Working on costumes for the century-old Poppenkast op de Dam </p>    
    </div>
          <img src="/assets/blog/pics/Costumes/clerccostume.jpg" alt="" />
          <img src="/assets/blog/pics/Costumes/halloweenpennywise.jpg" alt="" />
          <img src="/assets/blog/pics/Costumes/leylaliquoricecape1.jpg" alt="" />
          <img src="/assets/blog/pics/Costumes/leylaliquoricecape3.jpg" alt="" />
          <img src="/assets/blog/pics/Costumes/djrosacostume.jpg" alt="" />
        </div>

        <div id="headpieces">
          <h3>Head Pieces</h3>
          <p class="blurb">Headpieces are often the make-or-break element of a costume or special occasion.
I look to historical images and films for inspiration and collect hats & headpieces to see/feel what has stood the test of time. Weight & balance are crucial!
I can source vintage/antique elements (or already have in stock) to create a unique piece
</p>
          <div class="sub-article">
    <h2 class="sub-article-title">Schiaparelli-inspired shoe headpiece</h2>
    <figure class="sub-article__figure">
   <img src="/assets/blog/pics/headpieces/dalishoehat.jpg" alt="" />
   <img src="/assets/blog/pics/headpieces/shoehead.jpg" alt=""/>
   
    </figure>
    <p>Another headpiece made for the Surrealist Ball put on by Amsterdam Spook, this is very dear to my heart-- 
    Elsa Schiaparelli, an Italian designer I look up to as my biggest inspiration, made an all-black wool version in 1937 meant for Mae West (who she was designing costumes for at the time).
    The idea came from a photograph taken in 1933 by Salvador Dali's wife of him wearing a shoe on his head as well as 1 perched on his shoulder. 
    I took the liberty of patterning it on a genuine 1940s shoe and adding a sole in Schiaparelli's signature color which she named Shocking Pink. 
    It's edged inside with a grosgrain band tacked at intervals so it can be securely attached to hair.
    </p>
        
    </div>

          <img src="/assets/blog/pics/HeadPieces/Bustie.jpg" alt="Bustie" />
          <img src="/assets/blog/pics/HeadPieces/head3.jpg" alt="" />
          <img src="/assets/blog/pics/HeadPieces/headpiece.jpg" alt="" />
          <img src="/assets/blog/pics/HeadPieces/transvormershatstand.jpg" alt="" />
          <img src="/assets/blog/pics/HeadPieces/headpiece2.jpg" alt="" />
        </div>
      </div>
      <div class="mslidecontainer">
        <h2>Margarita Mariposa</h2>
        <div class="mslider">
          <div class="mslide current">
            <div class="">
              <img src="assets/blog/pics/slides/Marg2.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/Marg1.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/Marg3.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/Marg4.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/margaritamariposagold.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/margaritamariposagold4.jpg" alt="" />
            </div>
          </div>
          <div class="mslide">
            <div class="">
              <img src="/assets/blog/pics/slides/margaritamariposagold5.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="buttons">
          <button id="prev"><i class="fa fa-arrow-left"></i></button>
          <button id="next"><i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      <div id="repairs" >
        <h2>Repairs & Restorations</h2>
        <p class="blurb">
It's a crying shame to chuck out favorite garments once they're showing wear. Often all that's needed is reinforcement.
A classic cyclist problem is the seat of jeans that are fine elsewhere-- using different shades of thread and a sturdy patch they can often be saved almost invisibly for years more use.
I also have a stock of antique lace,vintage buttons, etc accumulated to restore things to former glory.
Wool/mohair/plaid and tweed are especially fun to tackle
</p>
<img src="/assets/blog/pics/Repairs/DLScissors.jpg" alt="" />
        
      </div>

      <div id="events">
        <h2>Events</h2>

       

        <img src="/assets/blog/pics/Events/eventdna.jpg" />

        <img src="/assets/blog/pics/Events/milkshake.jpg " />

        <img src="/assets/blog/pics/Events/tropicalsurprise1.jpg" />
        <img src="/assets/blog/pics/Events/CurtainsBlackArchives2.jpg" />
      </div>
      <div id="lessons">
        <h2>Lessons & Workshops</h2>

        <img src="/assets/blog/pics/Workshops/workshop.jpg" alt="" />
        <img src="/assets/blog/pics/Workshops/workshop2.jpg" alt="" />
      </div>
      <div id="upholstery">
        <h2>(Re-)Upholstery</h2>
        <img src="/assets/blog/pics/Upholstery/reupholstery1.jpg" alt="" />
        <img src="/assets/blog/pics/Upholstery/reupholstery2.jpg" alt="" />
        <img src="/assets/blog/pics/Upholstery/reupholstery3.jpg" alt="" />
      </div>
      <div id="musicians">
        <h2>Musicians</h2>
        <img src="/assets/blog/pics/Musicians/boblogg.jpg" />
        <img src="/assets/blog/pics/Musicians/kennedyflag.jpg" />
      </div>
      <div id="commercial">
        <h2>Commercial Work</h2>
        <img src="/assets/blog/pics/Commercial/ABCwindow.jpg" alt="" />
      </div>

      <div id="about">
        <h2>About</h2>
        <div class="content">
          <img src="/assets/blog/pics/Daisy/dl5.jpg" alt="" />
          <p>
            Welcome to the wondrous world of Miss Daisy Lee. If you're on this
            page you're clearly looking for something more unique and other
            worldly than H&M! For the unitiated, Daisy Lee is your first stop
            for affordable bespoke clothing and accessories. This formidable
            lady is on a mission to bring back old fashioned glamour to everyday
            life. Hailing from a long line of inventors, ingenuity is simply in
            her blood. Daisy uses vintage material and recycled objects to
            create costumes from every era. So, if your into (Neo) Burlesque,
            Pin-up, Vintage, Steam Punk or just the weird and the wonderful,
            then look no further, she is simply the complete Vaudevillian
            package!
          </p>
          
        </div>
      </div>

     
    </div>
   
  </div>


